<!DOCTYPE html>
<html>
<head>
  <title>Disease Trend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Disease Trend</a>
			<div class="result">
				<a id="date"></a>
			</div>
		</div>
	</div>
</div>

<div class="home">
	<%= yield %>
  <%= javascript_include_tag 'application' %>
	<%= yield :scripts %>
</div>

</body>
</html>